<style src="assets/stylesheets/slidemenu.css.scss"></style>
<style src="assets/stylesheets/masonry.css.scss"></style>




<body class="cbp-spmenu-push" id="pg-about" style="height: 100vh; overflow-y:auto;">
  
  <!-- navbar -->
  <%= render 'pages/navbar' %>


<div style="margin-top: 10vh; border: 10px solid black; width: 85vw; margin-right: 50px; height: 65vh; float:right;" >
  <% if user_signed_in? %>
    <%= form_for(@about, html: {method: "patch"}) do %>
      <textarea name="write_up" class="grid-info" style="resize:none; font-weight: 300; letter-spacing: 0x; height: 63vh; width: 100%; background: transparent; padding:30px; border:none:"><%= @about.write_up %></textarea>
      <input type="submit" class="form-panel form-submit" style="background:transparent; font-weight: 300;">
    <% end %>
  <% else %>
    <p class="grid-info" style="margin: 0; font-weight:300; letter-spacing: 0px; padding: 30px;"><%= @about.write_up.gsub(/\n/, '<br/>').gsub('Barangay Little Baguio', '<span class="more-highlight">Barangay Little Baguio</span>').gsub('725-4484', '<span class="more-highlight">725-4484</span>').gsub('littlebaguio@rocketmail.com', '<span class="more-highlight">littlebaguio@rocketmail.com</span>').gsub('littlebaguio.sanjuan@gmail.com', '<span class="more-highlight">littlebaguio@rocketmail.com</span>').html_safe %></p>
  <% end %>
</div>

</body>


<script src="assets/javascripts/classie.js"></script>
<script>
  var hamburgerMenu = document.getElementById( 'cbp-spmenu-hamburger' ),
      megaphoneMenu = document.getElementById( 'cbp-spmenu-megaphone' ),
      newReportMenu = document.getElementById('cbp-spmenu-new-report'),
      newPetitionMenu = document.getElementById('cbp-spmenu-new-petition'),
      showHamburgerMenu = document.getElementById( 'showHamburgerMenu' ),
      showMegaphoneMenu = document.getElementById( 'showMegaphoneMenu' ),
      showNewReportMenu = document.getElementById( 'btn-new-report' ),
      showNewPetitionMenu = document.getElementById( 'btn-new-petition' ),
      hideHamburgerMenu = document.getElementById('cbp-spmenu-hamburger-close'),
      hideMegaphoneMenu = document.getElementById('cbp-spmenu-megaphone-close'),
      hideNewReportMenu = document.getElementById('cbp-spmenu-new-report-close'),
      hideNewPetitionMenu = document.getElementById('cbp-spmenu-new-petition-close'),
      body = document.body;

  showHamburgerMenu.onclick = function() {
    //classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toright' );
    classie.toggle( hamburgerMenu, 'cbp-spmenu-open' );
  };
  showMegaphoneMenu.onclick = function() {
    //classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toleft' ); //hide/show hamburger
    classie.toggle( megaphoneMenu, 'cbp-spmenu-open' ); //hide/show right panel
  };
  hideHamburgerMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toright' ); //hide/show megaphone
    classie.toggle( hamburgerMenu, 'cbp-spmenu-open' ); //hide/show left panel
  };
  hideMegaphoneMenu.onclick = function(){
    classie.toggle( body, 'cbp-spmenu-push-toleft' );
    classie.toggle( megaphoneMenu, 'cbp-spmenu-open' );
  };
  showNewReportMenu.onclick = function(){
    classie.toggle( newReportMenu, 'cbp-spmenu-open');
  };
  hideNewReportMenu.onclick = function(){
    classie.toggle( newReportMenu, 'cbp-spmenu-open' );
  };
  showNewPetitionMenu.onclick = function(){
    classie.toggle( newPetitionMenu, 'cbp-spmenu-open');
  };
  hideNewPetitionMenu.onclick = function(){
    classie.toggle( newPetitionMenu, 'cbp-spmenu-open' );
  };
</script>