<body>  
  <section style="background-color: #FCB800;height:100vh;">

    <center>
    <div style="padding-top: 30vh;">
      <div style="font-family: 'Roboto Slab', serif; font-weight:bold; font-size: 35px; line-height: 30px; color:black; padding-right: 150px;">Login</div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.text_field :username, class: 'form-panel', placeholder: 'Username', style: 'width: 250px; margin-top: 30px;' %><br>
        <%= f.password_field :password, class: 'form-panel', autocomplete: "off", placeholder: 'Password', style: 'width: 250px; margin-top: 10px;'%><br>
        <%= f.submit "Log in", class: 'form-panel form-submit', style: 'margin-top: 30px; float: none; margin-left: 120px;' %>
      <% end %>
    </center>
  </div>
  </section>
</body>

