* { box-sizing: border-box; }

/* ---- grid ---- */
/*.grid {
  background: transparent;
  margin-top: 4vh;
}
*/


/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  margin-left: 0px;
  /*margin-right: 45px;*/
  margin-right: 2.4vw;
  margin-top: 45px;
  /*width: 367px; */
  width: 19.58vw;
  height: auto;
  float: left;
  background: transparent;
  border: 5px solid black;
  padding: 30px;
  color: black;
}

@media screen and (max-width: 1855px) {
  .grid-posts{
    padding-left: 2vw;
  }
  .grid-item {
    width: 19.58vw;
  }
}

@media screen and (max-width: 1800px) {
  .grid-posts{
    padding-left: 3.5vw;
  }
  .grid-item {
    width: 19.2vw;
  }
}


@media screen and (max-width: 1600px) {
  .grid-posts{
    padding-left: 5vw;
  }
  .grid-item {
    width: 18.8vw;
  }
}

@media screen and (max-width: 1460px) {
  .grid-posts{
    padding-left: 7.5vw;
  }
  .grid-item {
    width: 18.1vw;
  }
}

@media screen and (max-width: 1350px) {
  .grid-posts{
    padding-left: 7.5vw;
  }
  .grid-item {
    width: 18.3vw;
    margin-right: 2vw;
    margin-top: 35px;
  }
}


.grid-newsboard-item {
  padding: 35px;
  width: 26vw;
  height: auto;
  border: 10px solid black;
}

@media screen and (max-width: 1732px) {
  .grid-newsboard-item {
    width: 25vw;
    padding: 30px;
  }
}

@media screen and (max-width: 1526px) {
  .grid-newsboard-item {
    padding: 20px;
    width: 24vw;
  }
}



/* -- additional --- */

.grid-info{
  font-family: 'Roboto Slab', serif; 
  font-size: 24px; 
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -1px;
}